<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Document</title>
  </head>
  <body>
    <div class="px-3">
      <form
        action="/update/<%=id%>"
        method="post"
        class="mb-0 mt-6 space-y-4 bg-zinc-300 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8">
        <p class="text-center text-lg font-medium">Update the post</p>

        <div>
          <label for="title" class="sr-only">Title</label>

          <div class="relative">
            <input
              name="title"
              type="text"
              value="<%= post.title%>"
              class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-xl"
              placeholder="Title" />

            <span
              class="absolute inset-y-0 end-0 grid place-content-center px-4">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-4 text-gray-400"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
              </svg>
            </span>
          </div>
        </div>

        <div class="shadow-xl">
          <label
            for="OrderNotes"
            class="block text-sm font-medium text-gray-700">
          </label>

          <textarea
            name="content"
            id="OrderNotes"
            class="mt-2 w-full rounded-lg border-gray-200 align-top shadow-sm sm:text-sm p-3"
            rows="4"
            placeholder="Enter any additional order notes...">
<%= post.content%></textarea
          >
        </div>

        <button
          type="submit"
          class="block w-full rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white">
          Update Post
        </button>
      </form>
    </div>
  </body>
</html>
