<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-full min-h-screen bg-zinc-400 pt-10">
      <div class="mx-auto">
        <h1 class="text-3xl font-bold text-center">My profile</h1>
        <p class="text-xl text-center mt-3">
          Email: <%= user.email%>
        </p>
      </div>
    </div>
  </body>
</html>
